body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

a {
    color:#2E94CC ;
}

header {
    background-color: #2E94CC;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

article {
    max-width: 850px;
    margin: auto;
    padding: 70px;
}

article p {
    font-size: 16px;
    line-height: 24px;
}


.autor-post {
    color: #6C6C6C;
    font-size: 12px;
    line-height: 18px;
} 

.compartilhar-post, 
.links-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.compartilhar-post span {
    margin-right: 4px;
}

.compartilhar-post img {
    vertical-align: middle;
} 

.links-title {
    margin-bottom: 12px;
}

.uppercase{
    text-transform: uppercase;
}

.hero image img {
    max-width: 100%;
}

.hero-image {
    margin: 50px 0;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 0.015em;
}

#content-section {
    max-width: 680px;
    margin: auto;
}

.listas {
    margin-bottom: 10px;
}

iframe {
    margin: 50px 0;
    max-width: 100%;
}

footer {
    background-color: #f1f1f1;
    max-width: 680px;
    margin: auto;
    padding: 20px 15px;
    margin-bottom: 70px;
}

footer a {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li:last-of-type {
    margin-bottom: 0;
}

